---
layout: blog
title: index
permalink: /
---

<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top" id="i18_title"><span data-i18n="website.title">{{ site.title }}</span></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" id="i18_navbar">
                {% for section in site.data.landing %}
                    <li>
                      <a class="page-scroll" href="#{{ section.id }}">
                        <span data-i18n="{{ section.i18n }}">{{ section.name }}</span>
                      </a>
                    </li>
                {% endfor %}

                {% for language in site.data.index.language %}
                  <li>
                    <a id="set_lang_{{ language.locale }}" class="btn btn-sm set_{{ language.locale }}" data-locale="{{ language.locale }}">
                      <img src="{{ language.flag | prepend: site.baseurl }}" height="16px" width="16px">
                    </a>
                  </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</div>
<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#inSlider" data-slide-to="0" class="active"></li>
        <li data-target="#inSlider" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                </div>
                <div class="carousel-image wow zoomIn">
                    <!-- <img src="static/img/landing/laptop.png" alt="laptop"/> -->
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption blank">
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back two"></div>
        </div>
    </div>
    <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

{% for section in site.data.landing %}
  {% assign loopindex = forloop.index | modulo: 2 %}
  <section id="{{ section.id }}" class="features {% if loopindex != 1 %} gray-section {% endif %} {{ section.css }}" style="margin-top: 0;">
    {% include sections/{{section.tpl}} %}
  </section>
{% endfor %}
<footer>
        <div class="icons">
            <ul>
                <li><a href="https://www.facebook.com/arpit.solanki.97" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/solankiarpit191" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://plus.google.com/u/0/115073497014399161196" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://www.linkedin.com/in/arpit-solanki/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://github.com/arpit1997" target="_blank"><i class="fa fa-github-alt"></i></a></li>
                <li><a href="https://stackoverflow.com/users/5250746/arpit-solanki" target="_blank"><i class="fa fa-stack-overflow"></i></a></li>
            </ul>
        </div>
        <div class="powered-by">Hosted with <span>❤ </span>on <span><a href="https://github.com/arpit1997/arpit1997.github.io"><i class="fa fa-github"></i></a> </span></div>
    </footer><style type="text/css">
    iframe {
  -moz-transform: scale(0.25, 0.25);
  -webkit-transform: scale(0.25, 0.25);
  -o-transform: scale(0.25, 0.25);
  -ms-transform: scale(0.25, 0.25); 
  transform: scale(0.25, 0.25);
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: black   ;
  padding: 0.5em 2em; }
  footer .icons ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    footer .icons ul li {
      display: inline-block;
      font-size: 1.2em;
      padding: 0 0.2em; }
      footer .icons ul li a {
        text-decoration: none;
        color: #3385ff;
        opacity: 0.8; }
        footer .icons ul li a:hover {
          text-decoration: none;
          opacity: 1; }
  footer .powered-by {
    font-size: 1.2em; }
    footer .powered-by span {
      padding: 0.25em;
      line-height: 1.2;
      color: #3385ff;
      font-size: 1.5em; }
</style>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-101435346-1', 'auto');
  ga('send', 'pageview');

</script>
<iframe src="https://www.maimemo.com/share/page/?uid=779139&pid=660" style="display: none;"></iframe>
